.purchase-btn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  box-shadow: 4px 4px 0 0 rgb(25, 24, 24);
  transition: 2s;
}

.purchase-btn:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
  background-color: rgba(233, 97, 97, 0.726);
  color: navy;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
